/**
* Lightbox
*/
#lightbox {
    border-radius: 5px;    
}

#lightbox::backdrop {
    background-color: blue;
    opacity: 40%;
    animation: ts 3s forwards;
}

#lightbox.show {
    opacity: 1;
}

#lightbox  {
    animation: open 1s forwards;
  }

@keyframes ts {
  from {
    opacity: 0;
  }
  to {
    opacity: 40%;
  }
}

@keyframes open {
  from {
    transform:scale(0);
  }
  to {
    transform:scale(1);
  }
}

