/**
* Lightbox
*/
#lightbox {
    border-radius: 5px;
    transition: opacity 0.5s ease-in-out;
    opacity: 100;
}


#lightbox::backdrop {
    background-color: blue;
    opacity: 40%;
}

#lightbox.show {
    opacity: 1;
}